<table class="hotel">
	<tbody>
		<tr>
			<th colspan="3" class="hotel_title">
				<a href="#"><%= object.title %></a>
			</th>
		</tr>
		<tr>
			<td class="rating">
				Rating: <%= object.get_rating %>
			</td>
			<td>
				Comments: <%= object.comments.count %>
			</td>
			<td class="star_rating">
				Stars: <%= '*' * object.star_rating %>
			</td>
		</tr>
	</tbody>
</table>