@import "bootstrap";

/*list of hotels*/
body div.container{
	text-align: center;
}
/*hotels*/
.hotel{
	margin: 40px auto;
	width: 300px;
}
.hotel th{
	text-align: center;
	font-size: 25px;
}
.hotel .star_rating{
	text-align: right;
}
.hotel .rating{
	text-align: left;
}

/*profile*/
.profile table td{
	padding: 0 5px;
}
.profile table{
	margin: 0 auto;
	font-size: 20px;
	text-align: left;
}
.edit_profile{
	padding-top: 15px !important;
	text-align: center;
}