<table class="hotel">
	<tbody>
		<tr>
			<th colspan="2" class="hotel_title">
				<%= link_to hotel.title, hotel%>
			</th>
		</tr>
		<tr>
			<td>
				<%= link_to "delete", hotel, method: :delete,
                                  data: { confirm: "You sure?" } %>
			</td>
			<td>
				<%= link_to 'edit', edit_hotel_path(hotel) %>
			</td>
		</tr>
	</tbody>
</table>